.contact {
  height: 70vh;
  padding-block: 2rem;

  span {
    color: var(--highlight-color);
  }

  p {
    font-size: 12px;
    letter-spacing: .25px;
    text-align: center;
    margin-block: 5px;
  }

  .contact-button {
    margin-block: 1.5rem;
    font-size: 12px !important;
    letter-spacing: 0.25px;
  }
}

@media screen and (max-width: 599px) {
  .contact {
    width: 95%;
    margin-inline: auto;
    margin-block-end: 5rem;
  }
}