.about-me {
  height: 100vh;
  align-items: center;
}

.about-me-wrapper {
  justify-content: space-between;
}

.about-me-content {
  width: 60%;
  justify-content: center;
}

.about-me-img {
  width: 35%;
  padding-block: 40px;
}

.section-title {
  align-items: center;
  gap: 20px;
}

.title-content {
  align-items: center;
  gap: 10px;

  p {
    font-size: 14px;
    color: var(--highlight-color);
  }

  span {
    color: var(--text-color);
    margin-left: 6px;
    font-size: 22px;
  }
}


.line {
  height: 0.12rem;
  background: var(--text-color);
  flex: 1 1 0%;
}

.section-content {
  p {
    font-size: 12px;
    margin-block: 12px;
    letter-spacing: 0.25px;
  }
}

.skill-list {
  margin-inline-start: 20px;
}

.profile-img {
  width: 90%;
  aspect-ratio: 1;
  background-image: url("../../../assets/profile-img.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #f637e387;
  background-blend-mode: multiply;
  transition: 0.3s ease-in-out;
  position: relative;

  &:hover {
    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    isolation: isolate;
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid var(--text-color);
  }
}


@media screen and (max-width: 599px) {
  .about-me {
    height: fit-content;

    .about-me-wrapper {
      flex-direction: column-reverse;
      align-items: end;

      .about-me-content {
        width: 95%;
        margin-inline: auto;
      }

      .about-me-img {
        width: 50%;
      }
    }
  }

}