.content-area {
  width: var(--content-width, 60%);
  padding: 0 5rem;
}

.social-area {
  width: 5rem;
  position: fixed;
  bottom: 0px;
}

.content {
  width: 100%;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-block: 1rem;
}

.email {
  position: fixed;
  right: 40px;
  bottom: 0;
  writing-mode: vertical-rl;
  align-items: center;

  a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 10px auto 0px;
    background-color: #000;
  }
}