<div class="overlay">
</div>
<app-navbar></app-navbar>
<div class="social-area">
  <app-social-links></app-social-links>
</div>
<div class="content flex flex-center">
  <div class="content-area">
    <app-home-section id="home"></app-home-section>
    <app-about-me id="about"></app-about-me>
    <app-work id="experience"></app-work>
    <app-contact id="contact"></app-contact>
    <p class="footer">Designed & Build by Manikandan Prabhu</p>
  </div>
</div>
<div class="email flex">
  <a href="mailto:${gmail}">{{gmail}}</a>
</div>