.content-area {
  width: var(--content-width, 60%);
  padding: var(--content-padding);
}

.social-area {
  width: 5rem;
  position: fixed;
  bottom: 0px;
}

.content {
  width: 100%;
  margin-top: var(--nav-height);
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-block: 1rem;
  color: var(--highlight-color);
}

.email {
  position: fixed;
  right: 40px;
  bottom: 0;
  writing-mode: vertical-rl;
  align-items: center;

  a {

    background: var(--purple-gradient);
    background-size: 100% 250%;
    background-clip: text;
    background-position-y: 0%;

    text-decoration: none;
    color: transparent;
    font-size: 14px;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-2px);
      background-position-y: 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 10px auto 0px;
    background: var(--purple-gradient);
  }
}

.overlay {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  isolation: isolate;
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 101;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 599px) {
  .social-area {
    width: 3rem;
  }

  .email {
    right: 24px;
  }
}