.social-wrapper {
    align-items: center;
    gap: 2rem;


    .social {
        gap: 2rem;
        align-items: center;

        .social__links {
            height: 24px;
            width: 24px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-4px);
            }
        }

    }

    .line {
        width: 0.12rem;
        height: 7rem;
        background: var(--purple-gradient);
    }
}