<div class="home-section flex flex-center" [@fadeIn]="state" appIntersectionObserver
  (isVisible)="onVisibilityChange($event)">
  <div>
    <span class="medium content-margin">Hi, my name is</span>
    <h3 class="semibold content-title text-effects">Manikandan Prabhu.</h3>
    <h4 class="semibold content-subtitle">Software Engineer</h4>
    <span class="normal content-paragraph">
      I'm a software engineer specializing in building exceptional digital
      experience in <strong>Angular.</strong> I'm driven to elevate digital
      landscape through elegent code and thoughtful design.
    </span>
    <button mat-stroked-button class="home-contact__button" (click)="sendMail()">
      Let's work together
    </button>
  </div>
</div>