<div class="home-section flex flex-center" [@fadeIn]="state" appIntersectionObserver
  (isVisible)="onVisibilityChange($event)">
  <div>
    <span class="medium content-margin">Hi, my name is</span>
    <h1 class="semibold content-title text-effects">Manikandan Prabhu.</h1>
    <h3 class="semibold content-subtitle">Software Engineer</h3>
    <span class="normal content-paragraph">
      Specializing in building exceptional digital
      experience in <strong>Angular</strong> and <strong>NodeJS</strong>. I'm driven to elevate digital
      landscape through elegent code and thoughtful design.
    </span>
    <button mat-stroked-button class="home-contact__button" (click)="sendMail()">
      Let's work together
    </button>
  </div>
</div>